<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sty le.css">
    <title>Weather location</title>


    
</head>
<body>
    

    <div class="header1">
        <a href="/"> Home </a>
        <a href="countryinfo">Check Weather</a>
        <a href="contact">Contact</a>
    </div>
        <h2 class="hedt1"> Welcome to {{title}}</h2>
   
</body>
</html>
